<h1 class="h3 text-center mb-3"><fa-icon [icon]="user"></fa-icon> Register for an Account</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()" method="post">
  <div class="form-group">
    <!--Form validation for email BEGIN-->
    <div *ngIf="registerError != undefined">
      <app-alert
        [display]="registerError != undefined && !registerForm.get('email').dirty"
        type="error"
        message="Error: {{ registerError }}"
      >
      </app-alert>
    </div>
    <div
      *ngIf="
        (registerForm.get('email').invalid && registerForm.get('email').touched) ||
        registerForm.get('email').dirty
      "
    >
      <div *ngIf="registerForm.get('email').errors?.required">
        <app-form-error [displayError]="isFieldValid('email')" errorMsg="Please enter your email">
        </app-form-error>
      </div>
      <div *ngIf="registerForm.get('email').errors?.minlength">
        <app-form-error
          [displayError]="isFieldValid('email')"
          errorMsg="Your email must be at least 10 characters"
        >
        </app-form-error>
      </div>
      <div *ngIf="registerForm.get('email').errors?.pattern">
        <app-form-error
          [displayError]="isFieldValid('email')"
          errorMsg="Please enter a valid email"
        >
        </app-form-error>
      </div>
    </div>
    <!--Form validation for email END-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="email">
          <fa-icon [icon]="envelope" class="input-icon"></fa-icon> Email:
        </label>
      </div>
      <input
        type="email"
        class="form-control"
        name="email"
        formControlName="email"
        required
        minlength="10"
        pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        placeholder="example@gmail.com"
        autofocus
      />
    </div>
    <!--Form validation for password BEGIN-->
    <div
      *ngIf="
        (registerForm.get('password').invalid && registerForm.get('password').touched) ||
        registerForm.get('password').dirty
      "
    >
      <div *ngIf="registerForm.get('password').errors?.required">
        <app-form-error
          [displayError]="isFieldValid('password')"
          errorMsg="Please enter your password"
        >
        </app-form-error>
      </div>
      <div *ngIf="registerForm.get('password').errors?.minlength">
        <app-form-error
          [displayError]="isFieldValid('password')"
          errorMsg="Your password must be at least 8 characters"
        >
        </app-form-error>
      </div>
      <div *ngIf="password != confirmPassword">
        <app-form-error
          [displayError]="isFieldValid('password')"
          errorMsg="Your password and confirm password must match"
        >
        </app-form-error>
      </div>
    </div>
    <!--Form validation for password END-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="password">
          <fa-icon [icon]="lock" class="input-icon"></fa-icon> Password:
        </label>
      </div>
      <input
        type="password"
        class="form-control"
        name="password"
        formControlName="password"
        placeholder="********"
        required
        minlength="8"
      />
    </div>
    <!--Form validation for confirmPassword BEGIN-->
    <div
      *ngIf="
        (registerForm.get('confirmPassword').invalid &&
          registerForm.get('confirmPassword').touched) ||
        registerForm.get('confirmPassword').dirty
      "
    >
      <div *ngIf="confirmPassword == ''">
        <app-form-error
          [displayError]="isFieldValid('confirmPassword')"
          errorMsg="Please confirm your password"
        >
        </app-form-error>
      </div>
      <div *ngIf="confirmPassword.length < 8 || confirmPassword.length != password.length">
        <app-form-error
          [displayError]="isFieldValid('confirmPassword')"
          errorMsg="Your confirm password must be at least 8 characters and the same length as your password"
        >
        </app-form-error>
      </div>
      <div *ngIf="password != confirmPassword">
        <app-form-error
          [displayError]="isFieldValid('confirmPassword')"
          errorMsg="Your password and confirm password must match"
        >
        </app-form-error>
      </div>
    </div>
    <!--Form validation for confirmPassword END-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="confirmPassword">
          <fa-icon [icon]="unlock" class="input-icon"></fa-icon> Confirm Password:
        </label>
      </div>
      <input
        type="password"
        class="form-control"
        name="confirmPassword"
        formControlName="confirmPassword"
        placeholder="********"
        required
        minlength="8"
      />
    </div>

    <button type="reset" class="btn btn-sm btn-primary">
      <fa-icon [icon]="trash" class="input-icon"></fa-icon> Clear Form
    </button>
    <button
      type="submit"
      class="btn btn-sm btn-primary float-right"
      [disabled]="!registerForm.valid"
    >
      <fa-icon [icon]="user" class="input-icon"></fa-icon> Register
    </button>
  </div>
</form>
