<div class="container-fluid">
  <div *ngIf="isLoggedIn()" class="row">
    <div class="col-md-3">
      <app-customer-account-menu [active]="'password'"></app-customer-account-menu>
    </div>
    <div class="col-md-9">
      <section class="rounded shadow-sm p-3">
        <h1 class="h3 text-center"><fa-icon [icon]="userLock"></fa-icon> Update Password</h1>
        <div class="row justify-content-md-center">
          <div class="col-xs-12 col-md-6">
            <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()" method="post">
              <div class="form-group">
                <!--Form validation for currentPassword BEGIN-->
                <div
                  *ngIf="
                    (updatePasswordForm.get('currentPassword').invalid &&
                      updatePasswordForm.get('currentPassword').touched) ||
                    updatePasswordForm.get('currentPassword').dirty
                  "
                >
                  <div *ngIf="updatePasswordForm.get('currentPassword').errors?.required">
                    <app-form-error
                      [displayError]="isFieldValid('currentPassword')"
                      errorMsg="Please enter your current password"
                    >
                    </app-form-error>
                  </div>
                  <div *ngIf="updatePasswordForm.get('currentPassword').errors?.minlength">
                    <app-form-error
                      [displayError]="isFieldValid('currentPassword')"
                      errorMsg="Your current password must be at least 8 characters"
                    >
                    </app-form-error>
                  </div>
                  <div
                    *ngIf="currentPassword == newPassword || currentPassword == confirmNewPassword"
                  >
                    <app-form-error
                      [displayError]="isFieldValid('currentPassword')"
                      errorMsg="Your new password must be different from your current password"
                    >
                    </app-form-error>
                  </div>
                </div>
                <!--Form validation for currentPassword END-->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="currentPassword">
                      <fa-icon [icon]="lockOpen" class="input-icon"></fa-icon> Current Password:
                    </label>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    id="currentPassword"
                    name="currentPassword"
                    formControlName="currentPassword"
                    placeholder="********"
                    required
                    minlength="8"
                  />
                </div>
                <!--Form validation for newPassword BEGIN-->
                <div
                  *ngIf="
                    (updatePasswordForm.get('newPassword').invalid &&
                      updatePasswordForm.get('newPassword').touched) ||
                    updatePasswordForm.get('newPassword').dirty
                  "
                >
                  <div *ngIf="updatePasswordForm.get('newPassword').errors?.required">
                    <app-form-error
                      [displayError]="isFieldValid('newPassword')"
                      errorMsg="Please enter your new password"
                    >
                    </app-form-error>
                  </div>
                  <div *ngIf="updatePasswordForm.get('newPassword').errors?.minlength">
                    <app-form-error
                      [displayError]="isFieldValid('newPassword')"
                      errorMsg="Your new password must be at least 8 characters"
                    >
                    </app-form-error>
                  </div>
                  <div *ngIf="newPassword != confirmNewPassword">
                    <app-form-error
                      [displayError]="isFieldValid('newPassword')"
                      errorMsg="Your new password and confirm new password must match"
                    >
                    </app-form-error>
                  </div>
                  <div *ngIf="currentPassword == newPassword">
                    <app-form-error
                      [displayError]="
                        isFieldValid('newPassword') || isFieldValid('confirmNewPassword')
                      "
                      errorMsg="Your new password must be different from your current password"
                    >
                    </app-form-error>
                  </div>
                </div>
                <!--Form validation for newPassword END-->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="newPassword">
                      <fa-icon [icon]="lock" class="input-icon"></fa-icon> New Password:
                    </label>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    id="newPassword"
                    name="newPassword"
                    formControlName="newPassword"
                    placeholder="********"
                    required
                    minlength="8"
                  />
                </div>
                <!--Form validation for confirmNewPassword BEGIN-->
                <div
                  *ngIf="
                    (updatePasswordForm.get('confirmNewPassword').invalid &&
                      updatePasswordForm.get('confirmNewPassword').touched) ||
                    updatePasswordForm.get('confirmNewPassword').dirty
                  "
                >
                  <div *ngIf="confirmNewPassword == ''">
                    <app-form-error
                      [displayError]="isFieldValid('confirmNewPassword')"
                      errorMsg="Please confirm your new password"
                    >
                    </app-form-error>
                  </div>
                  <div
                    *ngIf="
                      confirmNewPassword.length < 8 ||
                      confirmNewPassword.length != newPassword.length
                    "
                  >
                    <app-form-error
                      [displayError]="isFieldValid('confirmNewPassword')"
                      errorMsg="Your confirm new password must be at least 8 characters and the same length as your password"
                    >
                    </app-form-error>
                  </div>
                  <div *ngIf="newPassword != confirmNewPassword">
                    <app-form-error
                      [displayError]="isFieldValid('confirmNewPassword')"
                      errorMsg="Your new password and confirm password must match"
                    >
                    </app-form-error>
                  </div>
                  <div *ngIf="currentPassword == confirmNewPassword">
                    <app-form-error
                      [displayError]="
                        isFieldValid('newPassword') || isFieldValid('confirmNewPassword')
                      "
                      errorMsg="Your confirm new password must be different from your current password"
                    >
                    </app-form-error>
                  </div>
                </div>
                <!--Form validation for confirmNewPassword END-->
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <label class="input-group-text" for="confirmNewPassword">
                      <fa-icon [icon]="unlock" class="input-icon"></fa-icon> Confirm New Password:
                    </label>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    id="confirmNewPassword"
                    name="confirmNewPassword"
                    formControlName="confirmNewPassword"
                    placeholder="********"
                    required
                    minlength="8"
                  />
                </div>

                <button type="reset" class="btn btn-primary">
                  <fa-icon [icon]="trash" class="input-icon"></fa-icon> Clear Form
                </button>
                <button
                  type="submit"
                  class="btn btn-primary float-right"
                  [disabled]="!updatePasswordForm.valid"
                >
                  <fa-icon [icon]="userEdit" class="input-icon"></fa-icon> Update Password
                </button>
              </div>
            </form>
          </div>
        </div>
      </section>
    </div>
  </div>

  <section *ngIf="!isLoggedIn()">
    <app-alert [display]="!isLoggedIn()" type="info" message="Please login to view this page.">
    </app-alert>
  </section>
</div>
