<h1 class="h3 mb-3 text-center"><fa-icon [icon]="signIn"></fa-icon> Login to Account</h1>
<form [formGroup]="accountForm" (ngSubmit)="onSubmit()" method="post">
  <div class="form-group">
    <div *ngIf="loginError != undefined">
      <app-alert [display]="loginError != undefined" type="error" message="Error: {{ loginError }}">
      </app-alert>
    </div>
    <!--Form validation for email BEGIN-->
    <div
      *ngIf="
        (accountForm.get('email').invalid && accountForm.get('email').touched) ||
        accountForm.get('email').dirty
      "
    >
      <div *ngIf="accountForm.get('email').errors?.required">
        <app-form-error [displayError]="isFieldValid('email')" errorMsg="Please enter your email">
        </app-form-error>
      </div>
      <div *ngIf="accountForm.get('email').errors?.minlength">
        <app-form-error
          [displayError]="isFieldValid('email')"
          errorMsg="Your email must be at least 10 characters"
        >
        </app-form-error>
      </div>
      <div *ngIf="accountForm.get('email').errors?.pattern">
        <app-form-error
          [displayError]="isFieldValid('email')"
          errorMsg="Please enter a valid email"
        >
        </app-form-error>
      </div>
    </div>
    <!--Form validation for email END-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="email">
          <fa-icon [icon]="envelope" class="input-icon"></fa-icon> Email:
        </label>
      </div>
      <input
        type="email"
        class="form-control"
        name="email"
        formControlName="email"
        required
        minlength="10"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
        placeholder="example@gmail.com"
        autofocus
      />
    </div>

    <!--Form validation for password BEGIN-->
    <div
      *ngIf="
        (accountForm.get('password').invalid && accountForm.get('password').touched) ||
        accountForm.get('password').dirty
      "
    >
      <div *ngIf="accountForm.get('password').errors?.required">
        <app-form-error
          [displayError]="isFieldValid('password')"
          errorMsg="Please enter your password"
        >
        </app-form-error>
      </div>
      <div *ngIf="accountForm.get('password').errors?.minlength">
        <app-form-error
          [displayError]="isFieldValid('password')"
          errorMsg="Your password must be at least 8 characters"
        >
        </app-form-error>
      </div>
    </div>
    <!--Form validation for password END-->
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text" for="password">
          <fa-icon [icon]="unlock" class="input-icon"></fa-icon> Password:
        </label>
      </div>
      <input
        type="password"
        class="form-control"
        formControlName="password"
        name="password"
        formControlName="password"
        placeholder="********"
        required
        minlength="8"
      />
    </div>

    <button type="reset" class="btn btn-sm btn-primary">
      <fa-icon [icon]="trash" class="input-icon"></fa-icon> Clear Form
    </button>
    <button
      type="submit"
      class="btn btn-sm btn-primary float-right"
      [disabled]="!accountForm.valid"
    >
      <fa-icon [icon]="signIn" class="input-icon"></fa-icon> Login
    </button>
  </div>
</form>
