<button (click)="opened=!opened" class="btn btn-primary btn-sm float-right"><fa-icon [icon]="signIn" class="input-icon"></fa-icon> Login</button>

<ng-template [ngIf]="opened">
  <section id="login-panel" class="bg-white rounded shadow p-3">
      <h1 class="h3 mb-3 text-center">Login to Account</h1>
      <form [formGroup]="accountForm" (ngSubmit)="onSubmit()" method="post">
        <div class="form-group">
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="email"><fa-icon [icon]="envelope" class="input-icon"></fa-icon> Email: </label>
            </div>
            <input type="email" class="form-control" name="email" formControlName="email" required minlength="10" autofocus>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="password"><fa-icon [icon]="unlock" class="input-icon"></fa-icon> Password: </label>
            </div>
            <input type="password" class="form-control" formControlName="password" name="password" formControlName="password" required minlength="8">
          </div>

          <button type="reset" class="btn btn-sm btn-primary"><fa-icon [icon]="trash" class="input-icon"></fa-icon> Clear Form</button>
          <button type="submit" class="btn btn-sm btn-primary float-right"><fa-icon [icon]="signIn" class="input-icon"></fa-icon> Login</button>
        </div>
      </form>
    </section>
</ng-template>

