<section *ngIf="display">
    <article class="alert alert-primary" *ngIf="type == 'primary'">
        <h1 class="h5 text-center"><fa-icon [icon]="alertCircle"></fa-icon><span class="sr-only">(alert)</span> {{ message }}</h1>
    </article>

    <article class="alert alert-secondary" *ngIf="type == 'secondary'">
        <h1 class="h5 text-center"><fa-icon [icon]="alertCircle"></fa-icon><span class="sr-only">(alert)</span> {{ message }}</h1>
    </article>

    <article class="alert alert-success" *ngIf="type == 'success'">
        <h1 class="h5 text-center"><fa-icon [icon]="check"></fa-icon><span class="sr-only">(success)</span> {{ message }}</h1>
    </article>

    <article class="alert alert-danger" *ngIf="type == 'danger' || type == 'error'">
        <h1 class="h5 text-center"><fa-icon [icon]="alertTriangle"></fa-icon><span class="sr-only">(error)</span> {{ message }}</h1>
    </article>

    <article class="alert alert-warning" *ngIf="type == 'warning'">
        <h1 class="h5 text-center"><fa-icon [icon]="alertTriangle"></fa-icon><span class="sr-only">(warning)</span> {{ message }}</h1>
    </article>

    <article class="alert alert-info" *ngIf="type == 'info'">
        <h1 class="h5 text-center"><fa-icon [icon]="info"></fa-icon><span class="sr-only">(info)</span> {{ message }}</h1>
    </article>
</section>

